@import "../../libs/iconfont.wxss";

.AfterWeather {
  background: linear-gradient(to bottom, #7badd6, #88bbe4);
  width: 100vw;
  color: #fff;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rpx;
  }
  .btn {
    width: 80vw;
    height: 70rpx;
    line-height: 70rpx;
    border-radius: 35rpx;
    background-color: #9ec4e4;
    color: #fff;
    font-size: 30rpx;
    &:active{
      background-color: #78b2e0;
    }
    
  }
  .br{
    width: 100vw;
    height: 32rpx;
  }
}
